# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://...
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=ey...
DATABASE_URL=postgresql://postgres:<url-encoded-password>@db.<db-url>.supabase.co:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=20&sslmode=require
DIRECT_URL=postgresql://postgres:<url-encoded-password>@db.<db-url>.supabase.co:5432/postgres
SUPABASE_SERVICE_ROLE_KEY=ey...
CHROMATIC_PROJECT_TOKEN=chpt_...
